# packages:
#
_libgcc_mutex             0.1                        main
appdirs                   1.4.4                     <pip>
argon2-cffi               20.1.0                    <pip>
attrs                     19.3.0                    <pip>
backcall                  0.2.0                     <pip>
bleach                    1.5.0                     <pip>
ca-certificates           2020.6.24                     0
certifi                   2020.6.20                py36_0
cffi                      1.14.1                    <pip>
chardet                   3.0.4                     <pip>
cloudpickle               1.3.0                     <pip>
cycler                    0.10.0                    <pip>
decorator                 4.4.2                     <pip>
defusedxml                0.6.0                     <pip>
entrypoints               0.3                       <pip>
enum34                    1.1.10                    <pip>
future                    0.18.2                    <pip>
gym                       0.7.4                     <pip>
h5py                      2.10.0                    <pip>
html5lib                  0.9999999                 <pip>
idna                      2.10                      <pip>
importlib-metadata        1.7.0                     <pip>
iniconfig                 1.0.1                     <pip>
ipykernel                 5.3.4                     <pip>
ipython                   7.16.1                    <pip>
ipython-genutils          0.2.0                     <pip>
ipywidgets                7.5.1                     <pip>
jedi                      0.17.2                    <pip>
Jinja2                    2.11.2                    <pip>
jsonschema                3.2.0                     <pip>
jupyter-client            6.1.6                     <pip>
jupyter-core              4.6.3                     <pip>
Keras                     2.1.5                     <pip>
kiwisolver                1.2.0                     <pip>
libedit                   3.1.20191231         h14c3975_1
libffi                    3.2.1                hd88cf55_4
libgcc-ng                 9.1.0                hdf63c60_0
libstdcxx-ng              9.1.0                hdf63c60_0
Mako                      1.1.3                     <pip>
Markdown                  3.2.2                     <pip>
MarkupSafe                1.1.1                     <pip>
matplotlib                2.1.2                     <pip>
mistune                   0.8.4                     <pip>
more-itertools            8.4.0                     <pip>
nbconvert                 5.6.1                     <pip>
nbformat                  5.0.7                     <pip>
ncurses                   6.2                  he6710b0_1
notebook                  6.1.1                     <pip>
numpy                     1.14.5                    <pip>
open3d-python             0.7.0.0                   <pip>
opencv-contrib-python     3.3.0.10                  <pip>
openssl                   1.0.2u               h7b6447c_0
packaging                 20.4                      <pip>
pandas                    0.22.0                    <pip>
pandocfilters             1.4.2                     <pip>
parso                     0.7.1                     <pip>
pexpect                   4.8.0                     <pip>
pickleshare               0.7.5                     <pip>
Pillow                    7.2.0                     <pip>
pip                       20.2.1                   py36_0
pluggy                    0.13.1                    <pip>
prometheus-client         0.8.0                     <pip>
prompt-toolkit            3.0.5                     <pip>
protobuf                  3.12.4                    <pip>
ptyprocess                0.6.0                     <pip>
py                        1.9.0                     <pip>
pycparser                 2.20                      <pip>
pycuda                    2017.1.1                  <pip>
pyglet                    1.5.0                     <pip>
Pygments                  2.6.1                     <pip>
pyparsing                 2.4.7                     <pip>
pyrsistent                0.16.0                    <pip>
pytest                    6.0.1                     <pip>
python                    3.6.4                hc3d631a_3
python-dateutil           2.8.1                     <pip>
pytools                   2020.3.1                  <pip>
pytz                      2020.1                    <pip>
PyYAML                    5.3.1                     <pip>
pyzmq                     19.0.2                    <pip>
readline                  7.0                  h7b6447c_5
requests                  2.24.0                    <pip>
scipy                     1.5.2                     <pip>
Send2Trash                1.5.0                     <pip>
setuptools                49.2.1                   py36_0
six                       1.15.0                    <pip>
sqlite                    3.32.3               h62c20be_0
tensorflow-gpu            1.4.0                     <pip>
tensorflow-tensorboard    0.4.0                     <pip>
terminado                 0.8.3                     <pip>
testpath                  0.4.4                     <pip>
tk                        8.6.10               hbc83047_0
toml                      0.10.1                    <pip>
tornado                   6.0.4                     <pip>
tqdm                      4.19.5                    <pip>
traitlets                 4.3.3                     <pip>
UnrealCV                  0.3.10                    <pip>
urllib3                   1.25.10                   <pip>
wcwidth                   0.2.5                     <pip>
webencodings              0.5.1                     <pip>
Werkzeug                  1.0.1                     <pip>
wheel                     0.34.2                   py36_0
widgetsnbextension        3.5.1                     <pip>
xz                        5.2.5                h7b6447c_0
zipp                      3.1.0                     <pip>
zlib                      1.2.11               h7b6447c_3
